version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: absensi-piket
    ports:
      - "8083:8083"
    environment:
      # ganti SECRET_KEY kalau perlu
      SECRET_KEY: "please-change-me"
      TZ: "Asia/Jakarta"
    # Persist uploads & database (bind ke host)
    volumes:
      # Folder untuk foto
      - ./uploads:/app/uploads
      # File database & last_cleanup
      - ./data/database.db:/app/database.db
      - ./data/last_cleanup.txt:/app/last_cleanup.txt
    restart: unless-stopped
